.sidebar {
    background-color: white;
    border-width: 0;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: visible !important;
    z-index: 9999999999;
}

.sidebar.right {
    border-left: 1px solid #ccc;
    box-shadow: -2px 0px 1px 1px rgba(0, 0, 0, 0.2);
    right: 0;
}

.sidebar.left {
    border-right: 1px solid #ccc;
    box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.2);
    left: 0;
}

/* This is for the extension X (close sidebar) image. */
#close {
    float: right;
    height: 32px;
    margin-right: 6px;
    width: 32px;
}
