div.fluidinfoDiv {
    zindex: 999999999999;
    padding: 5px;
    display: none;
}

div.fluidinfoDiv table {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

div.fluidinfoDiv td {
    border-style: none;
    padding: 3px;
    margin: 0;
}
