/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/
p {
    margin: 0 0 0.5em;
}

ul {
    margin: 0 0 0.5em 1em;
}

table {
    margin-bottom: 1em;
}

.setting.group-name {
    width: 100px;
}
